<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Irina</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="~/images/image.jpg" class="img-fluid" />
          </div>
        <div class="col-md-6">
          <div class="about-text">
            <p>
              Привет, меня зовут Irina Red. Я мастер перманентного макияжа. Работаю в бьюти-индустрии с 2001 года.
              С детства люблю рисовать. Красота - моя движущая сила!
              Иду по жизни творчески и с оптимизмом.
            </p>

            <p>
              Обучалась у  лучших преподавателей: Рустема Симтикова, Ирины Тропихиной, Ларисы Мозариной, Виталия Охотненко, Алекандра Огнева, Михаила Жуйкова, Сергея Сергеева, Анны Заболотной и не перестаю совершенствоваться в своем деле.
            </p>

            <p>
              Люблю создавать роскошные образы на все случаи жизни))) Владею всеми техниками тату-макияжа.
            </p>

            <p>
              Подчеркиваю индивидуальность.
            </p>

            <p>
              Помогаю экономить время для нанесения косметики.
            </p>

            <p>
              Исправляю природные недочёты (асимметрию , шрамы, цвет и объем).
            </p>

            <p>
              Позволяю чувствовать себя уверенной, сексуальной, ухоженной и яркой.
            </p>

            <p>
              Приходите, подберем вам форму и цвет, посмотрите, где я работаю <span role="img" aria-label="smiley">😊</span>.
            </p>

            <p>
              Будьте прекрасны всегда и везде
            </p>
          </div>
          </div>
          </div>
          </div>
</section>
  </body>
</html>